# Ignore virtual environment
venv/
/venv

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore log files
*.log

# Ignore environment variables file (if it contains sensitive data)
Variables.env

# Ignore any OS-specific files (optional)
.DS_Store
Thumbs.db

# Ignore the log file
magic_mirror.log
__pycache__/config.cpython-312.pyc
